
<!-- <div [ngSwitch]="role">
    <div *ngSwitchCase="'User'">Welcome User!</div>
    <div *ngSwitchCase="'Admin'">
        <app-rooms></app-rooms>
    </div>"
    <div *ngSwitchDefault>You aren't authorized!</div>
</div> -->

<!-- The container below is going to re-order the components-->
<!-- <app-container>
    <app-rooms></app-rooms>
    <app-employee></app-employee>
    <h4>This is from ng-content</h4>
</app-container> -->

<!-- <p><a routerLink="/rooms">Rooms</a></p>
<p><a routerLink="/employee">Employee</a></p> -->

<app-app-nav></app-app-nav>
<!-- <router-outlet></router-outlet> -->